<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Purpose</h2>
                <hr class="light">
                <p class="text-faded">To provide an standard JSON format for the exchange of weather and climate data. CF-JSON is based on the NetCDF CF metadata conventions.</p>
                <a href="specification" class="btn btn-default btn-xl">Specification</a>
            </div>
        </div>
    </div>
</section>
